<!doctype html>
<head>
    <title>Awesome Title</title>
    <!-- New Relic start -->
    <%- newrelic %>
    <!-- New Relic end -->
    <script>
        var isServerSideRender = true;
        var clientSideRender = !isServerSideRender;
        var serviceTopology = <%- JSON.stringify(serviceTopology); %>;
        var santaModels = true;
        var rendererModel = <%- JSON.stringify(rendererModel2); %>;
        var publicModel = <%- JSON.stringify(publicModel); %>;
        var masterPageId = '<%- masterPageId; %>';
    </script>


    <script src="https://static.parastorage.com/services/third-party/requirejs/2.1.15/require.min.js"></script>
    <script src="<%= baseSantaStaticUrl %>/app/main-r.min.js"></script>


</head>

  <body>

    <div id="root">
        <%- html %>
    </div>

    <script>window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) %></script>
    <script>
        document.getElementById('SITE_ROOT').childNodes[0].style.visibility = 'visible';
        document.getElementById(masterPageId).style.visibility = 'visible';
    </script>

  </body>
</html>


